<html>
<head>
    <title>Your Asset Page</title>
</head>

{% include 'navbar.html' %}
<div id="page">
    <div id="header">
        <h1>View Assets</h1>
        {% if session['auth_level'] == 1 or session['auth_level'] == 2%}
        <p>Here you can view assets for all customers</p>
        {% else %}
        <p>Here you can view your assets</p>
        {% endif %}
    </div>
    {% if assets %}
    <div id="content">
        <table>
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Asset Type</th>
                    <th>Status</th>
                    {% if assets[0].customers %}
                    <th>Customer</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for asset in assets %}
                <tr>
                    <td>{{ asset.hostname }}</td>
                    <td>{{ asset.device_types.name }}</td>
                    <td>{{ asset.statuses.value }}</td>
                    {% if asset.customers %}
                    <td>{{ asset.customers.customer_name }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div id="content">
        <p>Welp, looks like you don't have any assets.</p>
    </div>
    {% endif %}
</div>