<html>
    <head>
        <title>Contact Team</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div id="page">
            <div id="Heading">
                <h2>Contact</h2>
                <h4>Use the form below to contact support</h4>
            </div>
            <div id="form-container">
                <form id="contact-form" method="post" action="/contact">
                    <label for="summary">Summary:</label>
                    <input name="summary" type="text" placeholder="give a brief title to the request" required>
                    <label for="description">Description:</label>
                    <textarea name="description" placeholder="Provide a description of your issue." required></textarea>
                    <label for="device_id">Related Device</label>
                    <select name="device_id">
                        <option value="" selected>None</option>
                        {% for asset in assets %}
                        <option value="{{asset.id}}">{{asset.hostname}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Submit</button>
                </form>
                {% if request_created == True %}
                <p>Thanks for submiiting your request. We will be in contact soon.</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>