<html>
    <head>
        <title>Contact Page</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        {% if session.auth_level == 1 or session.auth_level == 2 %}
        <div id="page">
            <div id="heading">
                <h2>User Requests</h2>
                <h4>Here you can view existing user requests and create new requests.</h4>
            </div>
            <div id="tickets_container">
                <div id="form_container">
                    <form id="contact-form" method="post" action="/contact">
                        <h3>Create Tickets</h3>
                        <label for="summary">Summary:</label>
                        <input name="summary" type="text" placeholder="give a brief title to the request" required>
                        <label for="description">Description:</label>
                        <textarea name="description" placeholder="Provide a description of your issue." required></textarea>
                        <label for="device_id">Related Device</label>
                        <select name="device_id">
                            <option value="" selected>None</option>
                            {% for asset in assets %}
                            <option value="{{asset.id}}">{{asset.hostname}}</option>
                            {% endfor %}
                        </select>
                        <label for="customer_id">Related Customer:</label>
                        <select name="customer_id" required>
                            {% for customer in customers %}
                            <option value="{{customer.id}}">{{customer.customer_name}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                    {% if request_created == True %}
                    <p>Thanks for submiiting your request.</p>
                    {% endif %}
                </div>
                <div id="ticket_display">
                    <h3>View and Search tickets</h3>
                    <form method="post" action="/user-requests">
                        <input type="text" name="Descrption" placeholder="Description">
                        <select id="status_id" name="status_id">
                            <option value="" selected>Status</option>
                            {% for status in statuses %}
                            <option value="{{ status.id }}" >{{ status.Value }}</option>
                            {% endfor %}
                        </select>
                        <select id="customer_id" name="customer_id">
                            <option value="" selected>Customer</option>
                            {% for customer in customers %}
                            <option value="{{ customer.id }}">{{ customer.customer_name }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="user_id" placeholder="User">
                        <select id="device_id" name="device_id">
                            <option value="" selected>Device</option>
                            {% for device in devices %}
                            <option value="{{ device.id }}">{{ device.hostname }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Search</button>
                    </form>
                    {% if results %}
                    <table>
                        <thead>
                            <tr>
                                <th>Summary</th>
                                <th>Status</th>
                                <th>Customer</th>
                                <th>User</th>
                                <th>Device</th>
                                <th>Time Created</th>
                                <th>Assigned To</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticket in results %}
                            <tr>
                                <td><a href="tickets/{{ticket.id}}">{{ticket.summary}}</a></td>
                                <td>{{ticket.request_statuses.Value}}</td>
                                <td>{{ticket.customers.customer_name}}</th>
                                <td>{{ticket.created_user}}</td>
                                {% if ticket.device_id %}
                                <td>{{ticket.devices.hostname}}</td>
                                {% else %}
                                <td>No assigned device</td>
                                {% endif %}
                                <td>{{ticket.time_submitted}}</td>
                                 {% if ticket.assigned_team_member_id %}
                                <td>{{ticket.assigned_team_member}}</td>
                                {% else %}
                                <td>No assigned team member</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No results found</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <style>
            #tickets_container {
                display: flex;
                flex-direction: row;
                width: 100%
            }

            #tickets_container > * {
                width: 50%;
                height: 500px
            }

            form {
                height: 100%
            }

        </style>


        {% else %}
        <div id="page">
            <div id="heading">
                <h2>Contact</h2>
                <h4>Use the form below to contact support</h4>
            </div>
            <div id="form-container">
                <form id="contact-form" method="post" action="/contact">
                    <label for="summary">Summary:</label>
                    <input name="summary" type="text" placeholder="give a brief title to the request" required>
                    <label for="description">Description:</label>
                    <textarea name="description" placeholder="Provide a description of your issue." required></textarea>
                    <label for="device_id">Related Device</label>
                    <select name="device_id">
                        <option value="" selected>None</option>
                        {% for asset in assets %}
                        <option value="{{asset.id}}">{{asset.hostname}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Submit</button>
                </form>
                {% if request_created == True %}
                <p>Thanks for submiiting your request. We will be in contact soon.</p>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </body>
</html>