<html>
    <head>
        <title>INVALID METHOD</title>
    </head>
    <body>
        <div id="error-message">
            <h2>INVALID METHOD USED</h2>
            <p>It seems you have attmpeted to use a http method that has not been configured for the given endpoint.</p>
            <p>If you belive this is a fault in the site, feel free to use the contact form here</p>
            <a href="/contact"><button>CONTACT</button></a>
            <p>Alternatively, you can return home..</p>
            <a href="/home"><button>HOME</button></a>
        </div>
    </body>
</html>