<script>
    function showDeletePopup() {
        document.getElementById('delete-popup').style.display = 'block';

    }

    function hideDeletePopup() {
        document.getElementById('delete-popup').style.display = 'none';

    }
</script>

<html>
<head>
    <title>Customer {{ customer.id }}</title>
</head>
<body>
    {% include 'navbar.html' %}
        <div id="page">
        <h3>{{customer.customer_name}}</h3>
        <div id="form-container"></div>
        <form id="customer-container" method="POST" action="/customers/{{customer.id}}">
            <input type="text" name="customer_name" placeholder="{{ customer.customer_name }}">
            <label for="teir">Teir:</label>
            <input type="number" id="teir" name="teir" placeholder="{{customer.teir}}">
            </select>
            <button type="submit">Update</button>
        </form>
        </div>
         <div id="delete-button-container">
            <button onclick="showDeletePopup()">Delete</button>
        </div>
        <div id="delete-popup">
            <button onClick="hideDeletePopup()">Close</button>
            <h4>Are you sure you wish to delete?</h4>
            <form id="asset-delete-form" method="POST" action="/customers/{{customer.id}}/delete">
                <label for="verify">Check To verfy:</label>
                <input type="checkbox" name="verify" required>
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</body>

<style>
    
    input::placeholder {
        opacity: 1;
        color: black
    }

#delete-popup {
        display: none;
        position: fixed;
        border: 1pt black;
        background-color: grey;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

</style>

</html>