<script>
    function showDeletePopup() {
        document.getElementById('delete-popup').style.display = 'block';

    }

    function hideDeletePopup() {
        document.getElementById('delete-popup').style.display = 'none';

    }
</script>

<html>
<head>
    <title>Asset {{ asset.hostname }}</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div id="page">
        <div id="form-container">
        <h3>View or Edit Asset Details</h3>
        <form id="asset-form" method="POST" action="/assets/{{asset.id}}">
            <input type="text" name="hostname" placeholder="{{ asset.hostname }}">
            <label for="type_id">Asset Type:</label>
            <select id="type_id" name="type_id" selected="{{asset.type_id}}"required>
                {% for type in device_types %}
                {% if type.id == asset.type_id %}
                <option value="{{ type.id }}" selected>{{ type.name }}</option>
                {% else %}
                <option value="{{ type.id }}" >{{ type.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <label for="status_id">Status:</label>
            <select id="status_id" name="status_id" selected="{{asset.status_id}}" required>
                {% for status in statuses %}
                {% if status.id == asset.status_id %}
                <option value="{{ status.id }}" selected>{{ status.value }}</option>
                {% else %}
                <option value="{{ status.id }}">{{ status.value }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <label for="customer_id">Customer</label>
            <select id="customer_id" name="customer_id" selected="{{asset.customer_id}}"required>
                {% for customer in customers %}
                {% if customer.id == asset.customer_id %}
                <option  value="{{ customer.id }}" selected>{{ customer.customer_name }}</option>
                {% else %}
                <option value="{{ customer.id }}">{{ customer.customer_name }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button type="submit">Update</button>
        </form>
        </div>
        <div id="delete-button-container">
            <button onclick="showDeletePopup()">Delete</button>
        </div>
        <div id="delete-popup">
            <button onClick="hideDeletePopup()">Close</button>
            <h4>Are you sure you wish to delete?</h4>
            <form id="asset-delete-form" method="POST" action="/assets/{{asset.id}}/delete">
                <label for="verify">Check To verfy:</label>
                <input type="checkbox" name="verify" required>
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</body>

<style>
    
    input::placeholder {
        opacity: 1;
        color: black
    }

    #delete-popup {
        display: none;
        position: fixed;
        border: 1pt black;
        background-color: grey;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

</style>

</html>